.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    position: relative;
    /*min-height: 100vh;*/
}

.header__rec {
    position: absolute;
    top: 0;
    right: 30px;
    color: var(--accent-color);
    font-size: 18px;
    line-height: 1.39;
    text-transform: uppercase;
}

.header__rec::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 9px;
    height: 9px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
    justify-self: end;
    margin: 65px 0;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
}

.header__theme-menu-button {
    background: transparent;
    border: none;
    color: var(--menu-color);
    font-size: 18px;
    line-height: 1;
    padding: 2px 12px;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--menu-hover-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid var(--menu-color);
}

.header__title {
    grid-row: 2;
    color: var(--title-color);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
    text-shadow: 4px 4px 0 var(--accent-color);
    margin: 0;
}

.header__description {
    grid-row: 3;
    justify-self: end;
    align-self: center;
    /*max-width: 491px;*/
}

.header__description-text {
    font-size: 18px;
    line-height: 23.4px;
    margin: 0;
    font-weight: bold;
}

.title-decor {
    background-color: var(--accent-color);
    color: var(--decorated-text-color);
}